extends layout

block content

  h1 #[strong Book Instance:] #{bookinstance._id}
  h3 #[strong Book Title:]
    //- a(href=bookinstance.url)  !{bookinstance.book.title}
    a(href=bookinstance.book.url)  !{bookinstance.book.title}
  h3 #[strong Author:]
    a(href=bookinstance.book.author.url)  !{bookinstance.book.author.name}

  //- p #[strong Title:]
    //- a(href=bookinstance.url)  !{bookinstance.book.title}
  p #[strong Imprint:] #{bookinstance.imprint}

  p #[strong Status:]
    if bookinstance.status=='Available'
      span.text-success  #{bookinstance.status}
    else if bookinstance.status=='Maintenance'
      span.text-danger  #{bookinstance.status}
    else
      span.text-warning  #{bookinstance.status}

  if bookinstance.status!='Available'
    p #[strong Due back:] #{bookinstance.due_back_formatted}

  hr
  p
    //- a(href=bookinstance.url+'/delete') Delete Book Instance
    a(href=bookinstance.url+'/delete' class='btn btn-primary' role='button') Delete Book Instance
  p
    //- a(href=bookinstance.url+'/update') Update Book Instance
    a(href=bookinstance.url+'/update' class='btn btn-primary' role='button') Update Book Instance