extends layout

block content

  h1 #[strong Genre:] !{genre.name}
  //- p id: #{genre._id}

  div(style='margin-left:20px;margin-top:20px')

  if genre_books.length
    h4 Books
    dl
      each book in genre_books
        dt
          a(href=book.url) !{book.title}  #[a(href=book.author.url)  !{book.author.name}]
          //- a(href=book.url) !{book.title}  <a href=book.author.url>!{book.author.name}</a>
        dd !{book.summary}
  else
    p This genre has no books

  hr
  p
    //- a(href=genre.url+'/delete') Delete Genre
    a(href=genre.url+'/delete' class='btn btn-primary' role='button') Delete Genre
  p
    //- a(href=genre.url+'/update') Update Genre
    a(href=genre.url+'/update' class='btn btn-primary' role='button') Update Genre